<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insertBatch">
        INSERT INTO order_detail (name, number, dish_id, dish_flavor, amount, order_id)
        VALUES
        <foreach collection="orderDetailList" item="od" separator=",">
            (#{od.name}, #{od.number}, #{od.dishId}, #{od.dishFlavor}, #{od.amount}, #{od.orderId})
        </foreach>
    </insert>

</mapper>
